body
{
	background-color: #400094;
 background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
font-size: 20px;
}
#container
{
	
	background-color: white;
	width: 300px;
	padding:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	-webkit-box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
-moz-box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
}
input[type=text],
input[type=password]    /*jestes na 29,15*/
{
	width: 300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding:10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=text]:focus,
input[type=password]:focus
{
	background-color: white;
	-webkit-box-shadow: 3px -2px 4px -4px rgba(230,46,230,1);
-moz-box-shadow: 3px -2px 4px -4px rgba(230,46,230,1);
box-shadow: 3px -2px 4px -4px rgba(230,46,230,1);
border: 2px solid #a5cda5;
color: #428c42;
}
input[type=submit]
{
	width: 300px;
	/*background-color:#36b03c;*/
	background-color:#400094;
	color:white;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding:15px 10px;
	margin-top: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}


input[type=submit]:hover
{
	background-color: #37b93d;
color: #428c42;}

input[type=submit]:FOCUS
{
	-webkit-box-shadow: 23px -22px 24px -4px rgba(230,46,230,1);
-moz-box-shadow:23px -22px 24px -4px rgba(230,46,230,1);
box-shadow: 23px -22px 24px -4px rgba(230,46,230,1);
}
