body
{
	background-color: gray; 
	font-family: Verdana;
	font-size: 20px;
	color: white;
}
h1
{
	font-size: 48px;
	color: red!important;
}

/* nieodwiedzony link */

a:link
{
color: yellow;	
}
/* odwiedzony link */

a:visited 
{
color: black;	
}

/* link po najechaniu kursorem*/

a:hover
{
color: red;	
cursor: pointer;
}