.kontener
{
	
	
		width:1200px;
	margin-left:auto;
	margin-right:auto;
	background-color: black;
	font-family: 'Lato', sans-serif;
	margin(ble, ble):0 !important;
	
	
}
.logo-1zdjecie
{float: left;
opacity: 0,7;
	-webkit-box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
-moz-box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
box-shadow: 13px -12px 54px -4px rgba(230,46,230,1);
border-radius: 10px;
margin-left: 40px;

}
.logo-napis
{
	float: left;
	margin-left:200px;
	margin-right:30px;
}
.logo
{
	background-color: green;
	color: black;
	
	text-align: center;
	padding:35px;
	margin-left:auto;
	margin-right:auto;
	font-size:10px;
	border: 1px solid #393939
	border-radius: 10px;
}
.logo:hover
{
	background-color: #86a817;
}
.lewa
{
	float: left;
	background-color: #5d8986;
	width:235px;
	min-height:520px;
	padding:10px;
	color:white;
	font-size:20px;
	text-align: center;
	border: 1px solid #393939
	
}
.lewa:hover
{
	background-color: #1bd1c1;
}
.srodek
{
		float: left;
			background: url(2018-02-16-8338.jpg) ;
			background-size: cover;
			  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
	
	
	
  
	width:662px;
	min-height:520px;
	padding:10px;

	font-size:10px;
	text-align: center;
	border: 1px solid #393939
	
	
	
}

.srodekvideo

{
	margin-top :200;
}
.srodek:hover
{
	
}
.navi
{
	width:400px;
	padding: 20px;
	background-color: #cbf442;
	margin-left:auto;
	margin-right:auto;
	
	text-align:center;
	border-bottom: 1px solid #751b1b;
	border-top: 1px solid #751b1b;
}

.prawa
{
	float: left;
	background-color: #765196;
	width:235px;
	min-height:520px;
	padding:10px;
	color:yellow;
	font-size:20px;
	text-align: center;
	border: 1px solid #393939
	box-sizing: border-box;
}
.prawa:hover
{
	background-color: #bb94dd;
	opacity: 0,3;
}
.puste
{
	clear:both;
	width:1200px;
min-height:1520px;
	margin-left:auto;
	margin-right:auto;
	background-color: yellow;
	border-left: 10px solid #f44b42;
	border-right: 10px solid #f44b42;
	box-sizing: border-box;
	color: black;
	text-align: center;
	padding-top: 50px;
}
.stopka
{
	clear:both;
	text-align: center;
	padding:10px;
	font-size:20px;
	border: 1px solid #393939
	margin-left:auto;
	margin-right:auto;
}
.stopka:hover
{
	background-color: #d95333
}
ul

{
	padding:0px;
	margin:0;
	list-style-type:none;
	font-size:15px;
	display: inline-block;
	display:none;
}ul a
{
	color: black;
	text-decoration: none;
	display: block;
	
}
ul>li
{
  width:400px;
	height: 40px;
	border-left: 1px dashed #751b1b;
	border-right: 1px dashed #751b1b;
	border-bottom: 1px dashed #751b1b;
	border-top: 1px dashed #751b1b;
	text-align: center;
	
}
.navi:hover > ul
{
display:block;
}
ul>li:hover
{
	background-color: #cbf442;
}
ul > li:hover > a
{
	font-size:20px;
	color: #f442c8;
}
/* Cookie warning */
#cookie-warn{
    position: fixed;
    bottom: 0;
    background: #EEE;
    margin: 0;
    padding: 15px;
    width: 100%;
    display: none;
    z-index: 99;
}
 
#cookie-warn a{
    color: #D66E1A;
    text-transform: uppercase;
    float: right;
    padding-right: 20px;
}
 
#cookie-warn p{
    font-size: 12px;
    color: #333;
}
